@page
@model RazorPages.Pages.Account.RegisterModel
@{
}

<form method="post">

    <div class="container">
        <input type="hidden" value="@Model.ReturnUrl" asp-for="ReturnUrl" />

        <label asp-for="UserPOST.Email"><b>Email</b></label>
        <input type="email" placeholder="Enter email" asp-for="UserPOST.Email" required>

        <label asp-for="UserPOST.Name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" asp-for="UserPOST.Name" required>

        <label asp-for="UserPOST.Password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" asp-for="UserPOST.Password" required>

        <button type="submit">Login</button>

        @*<label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>*@

    </div>

    @*   <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
    </div>*@
</form>

